/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 500;
}


/* UTILITIES */


.container {
    width: 1200px;   
    margin: 0 auto;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.floated-left {
    float: left;
}


.inline-list .list-item {
    display: inline-block;
    list-style: none;
}

/* HEADER */

 .main-header {
     line-height: 60px;
     text-transform: uppercase;
     font-size: 12px;
     background-color: blue;
 }

 .main-header .logo.floated-left {
     width: 15%;
     background-color: rgba(9, 37, 196, 0.15);
 }

 .main-header .logo img {
     vertical-align: middle;
 }

 .main-header .nav-center {
     width: 45%;
     background-color:  rgba(9, 37, 196, 0.15); 
}
 

.list-item a {
    text-decoration: none;
    color: white;
}

.list-item li:last-child {
    margin-right: 0;
}

 .main-header .nav-right {
    width: 40%;
    text-align: right;
    background-color:  rgba(9, 37, 196, 0.15);
 }
