/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 500;
}


/* UTILITIES */


.container {
    width: 1200px;   
    margin: 0 auto;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.floated-left {
    float: left;
}


.inline-list li {
    display: inline-block;
    list-style: none;
}

/* BUTTONS */

.button {
    display: inline-block;
    min-width: 100px;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
 
.button.green {
    background-color: green;
    border: 1px solid transparent;
}


/* HEADER */

header {
    background: #191970;
}

 .main-header {
     line-height: 60px;
     text-transform: uppercase;
     font-size: 12px;
     background-color: rgba(9, 37, 196, 0.15);
 }

 .main-header .logo.floated-left {
     width: 15%;
     }

 .main-header .logo img {
     vertical-align: middle;
 }

.main-header .nav-center {
     width: 45%;
}

.main-header a.button {
    line-height: 12px;
}

.main-header a:not(.button):hover {
    color: purple;
}

.inline-list .li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
    color: white;
}

.inline-list .li:last-child {
    margin-right: 0;
}

 .main-header .nav-right {
    width: 40%;
    text-align: right;
    background-color:  rgba(9, 37, 196, 0.15);
 }



 /* JUMBOTRON SECTION */

 .jumbotron {
     height: 480px;
     background-color:#191970;
     background-image: url("../img/background-header.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: 115% 110%;
    }


.jumbrotron .container {
    position: relative;
    height: 100%;
    background: rgba(9, 37, 196, 0.15);
}

.jumbotron .jumbotron-content {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    color: white;
}

.jumbotron .jumbotron-content h1 {
    width: 60%;
    margin-bottom: 30px;
    font-size: 40px;
    color: white;
}